<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NovoServlet</servlet-name>
        <servlet-class>NovoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroAgricultor</servlet-name>
        <servlet-class>Servlet.CadastroAgricultor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditaRegiao</servlet-name>
        <servlet-class>Servlet.EditaRegiao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroPlantacao</servlet-name>
        <servlet-class>Servlet.CadastroPlantacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroInsumo</servlet-name>
        <servlet-class>Servlet.CadastroInsumo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletaRegiao</servlet-name>
        <servlet-class>Servlet.DeletaRegiao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroRegiao</servlet-name>
        <servlet-class>Servlet.CadastroRegiao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditaPlantacao</servlet-name>
        <servlet-class>Servlet.EditaPlantacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditaInsumo</servlet-name>
        <servlet-class>Servlet.EditaInsumo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletaInsumo</servlet-name>
        <servlet-class>Servlet.DeletaInsumo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditaAgricultor</servlet-name>
        <servlet-class>Servlet.EditaAgricultor</servlet-class>
    </servlet>
     <servlet-mapping>
        <servlet-name>CadastroPlantacao</servlet-name>
        <url-pattern>/CadastroPlantacao</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>CadastroAgricultor</servlet-name>
        <url-pattern>/CadastroAgricultor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditaRegiao</servlet-name>
        <url-pattern>/EditaRegiao</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>CadastroInsumo</servlet-name>
        <url-pattern>/CadastroInsumo</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>CadastroRegiao</servlet-name>
        <url-pattern>/CadastroRegiao</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>EditaPlantacao</servlet-name>
        <url-pattern>/EditaPlantacao</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>EditaInsumo</servlet-name>
        <url-pattern>/EditaInsumo</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>EditaAgricultor</servlet-name>
        <url-pattern>/EditaAgricultor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletaRegiao</servlet-name>
        <url-pattern>/DeletaRegiao</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>DeletaInsumo</servlet-name>
        <url-pattern>/DeletaInsumo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>dashboard.html</welcome-file>
        <welcome-file>cadAgricultor.html</welcome-file>
        <welcome-file>cadRegiao.html</welcome-file>
        <welcome-file>cadPlantacao.html</welcome-file>
        <welcome-file>cadInsumo.html</welcome-file>
        <welcome-file>listarInsumos.jsp</welcome-file>
        <welcome-file>listarPlantacao.jsp</welcome-file>
    </welcome-file-list>
</web-app>